# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
ENV/
env/

# VSCode settings
.vscode/

# macOS
.DS_Store

# PyInstaller
*.spec
build/
dist/

# Logs
*.log

# Mypy / Pytest
.mypy_cache/
.pytest_cache/

# SQLite or other local dev DBs
*.sqlite3

# transacties
/transacties